@model DBL.Management

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Management</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

       
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
